.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";

 @media (max-width: 400px) {
  #design img,
  #mel-dale-design{
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  flex-direction: column;
  float: none;
  width: 100% !important;
  max-width: 100% !important;
  }
}

@media all and (max-width: 799px) and (min-width: 768px) {
	img.melwings{
		width: 50%;
		}
	img.coat-of-arms{
		width: 60%;
}}

@media all and (max-width: 767px){
	img.melwings{
		width: 100%;
		}
	img.coat-of-arms{
		width: 80%;
}}