#mel-dale-design,
#mel-dale-work {
	display:flex;
	align-items: flex-end;
	justify-content: center;
}

#mel-dale-design a,
#mel-dale-work {
	text-decoration: none;
}

#mel-dale-design.mel-dale-design-excerpt {
	margin: auto
	
}