// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

.site-content,
.site-footer {
	margin: auto;
	overflow: hidden;
	width: $size__site-main;
}

.site-footer {
	text-align: center;
}