// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

.site {
	background: white;
	max-width: $site__no-bigger;
	margin: auto;
}
.site-header,
.site-content,
.site-footer {
	margin: auto;
	overflow: hidden;
	width: $size__site-main;
}

.entry-footer span {
	padding: 0 .5em;
}

#breaker {
	border-bottom: 6px solid black;
	border-bottom-style: double;
	}
	
#breaker:after {
	content:"";
	border-bottom: 2px solid black;
	width: 100%;
	margin-bottom: 2px;
}
