h1, h2, h3, h4, h5, h6,
.front {
	clear: both;
	font-family: $spartan;
}

.front,
.entry-title,
.page-title {
	text-transform: uppercase;
}

.entry-title a{
	text-decoration: none;
}

.front {
	text-align: center;
}