.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	text-transform: uppercase;
	font-family: $spartan;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align: center;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: none;
		display: inline-block;
		padding: 0 1em;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle {
	background: white;
	border: 2px solid black;
	text-transform: uppercase;
	outline: none;
	box-shadow: none;
	color: black;
	text-shadow: none;
	/* border-radius: 50%; */
	width: 200px;
	/* height: 5em; */
	margin: 1em auto;
	z-index: 5;
	opacity: .9;
	
	&:hover,
	&:active,
	&:focus {
		border-color: none;
		box-shadow: none;
	}

}

.menu-toggle,
.main-navigation.toggled ul {
	display: inline-block;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		visibility: hidden;
	}
	.main-navigation ul {
		display: block;
	}
}

@media screen and (max-width: 37.5em) {

	.main-navigation ul {
		margin-bottom: 2em;
	}
	
	.main-navigation li {
		display: block;
		background: white;
		opacity: .9;
		padding: .5em;
	}
}



.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
